*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* helpers */

.container{
    width: 90vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn{
    width: 110px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #FFF;
    padding: 4px 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary{
    background: #007BFF;
}

.btn-secondary{
    background: #6C757D;
}

.btn-success{
    background: #28A745;
}

.btn-danger{
    background: #DC3545;
}

.btn-warning{
    background: #FFC107;
    color: #000;
}

.btn-info{
    background: #17A2B8;
}


/* *************************************************** */




body{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}


.title-text{
    margin-top: 20px;
    text-align: center;
}

.crud-title{
    padding: 15px 0;
    /* font-size: 2rem; */
    font-size: 3vw;
    color: #FFF;
}

.text-muted{
    display: block;
    font-weight: 200;
    font-size: 2vw;
}

.open-modal{
    align-self: flex-end;
    margin-right: 200px;
    font-size: 1.8em;
    width: 180px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
}

.row-table{
    margin-top: 25px;
}


.table-container{
    width: 100%;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 30px 15px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5);
}

table{
    width: 100%;
    line-height: 2;
}

.thead{
    background: rgba(0, 0, 0, 0.2);
}

th{
    font-size: 1.3rem;
    padding: 8px 0;
}

tbody{
    text-align: center;

}

td{
    font-size: 1.2rem;
}

td:nth-child(even){
    background: rgba(255, 255, 255, .4);
  }
  
td:nth-child(odd){
    background: rgba(255, 255, 255, .6);
}

.buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


input{
    margin-left: 20px;
}



/* Modal */
.modal-container{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.modal{
    width: 40%;
    height: 45%;
    margin-top: 100px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5);
    transition: transform .8s ease-in-out;
    transform: translateY(0%);
}

.modal-close{
    transform: translateY(-300%);
}

.form-container{
    height: 100%;
    width: 100%;
}

.title-form{
    font-size: 3em;
    margin: 15px 0 5px 0;
}

.inputs-form{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.form-control{
    font-size: 1.2rem;
    padding: 5px;
    margin-top: 10px;
}

.buttons-form{
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.buttons-form > input{
    font-size: 1.8em;
    width: 140px;
    padding: 5px 10px;
}




/* Media query */

@media screen and (max-width: 1024px) {
    .crud-title{
        font-size: 2em;
    }
    
    .text-muted{
        font-size: .5em;
    }

    th{
        font-size: 1.2em;
        padding: 4px 0;
    }
    
    td{
        font-size: 1em;
    }

    .id,
    .form-id{
        display: none;
    }

    .buttons-container > button{
        width: 90px;
        font-size: 1rem;
    }

    .open-modal{
        margin-right: 90px;
        font-size: 1.3em;
        width: 150px;
    }
}

@media screen and (max-width: 768px) {

    .container{
        width: 98vw;
    }

    .table-container{
        margin-top: 6px;
        padding: 10px 8px;
    }

    .date,
    .form-date{
        display: none;
    }

    .buttons-container > button{
        width: 50px;
        font-size: .8em;
    }

    .open-modal{
        margin-right: 20px;
        font-size: 1em;
        width: 100px;
    }
}

@media screen and (max-width: 620px) {
    .form-email,
    .email{
        display: none;
    } 
}


/* check landscape orientation */
@media screen and (max-width: 768px) and (orientation: landscape) {
    * {
        background-color: black;
     }
    .container {
      display: none;
    }

    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
    .twin1 {
        font-weight: 100;
        font-size: 30px;
        text-align: center;
        color: white;
        padding: 20px;
    }
    
    .twin1::after {
      Content: "Voltee su móvil en modo vertical para ver el contenido.";
    }
  }
